body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

header {
  max-width: 100%;
  border-radius: 20px;
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
}

.music-player {
  margin-top: 10px;
}

.frame {
  width: 350px;
  height: 350px;
  border: 2px solid #000;
  border-radius: 20px;
  position: relative;
  margin-top: 50px;
}

.point {
  width: 20px;
  height: 20px;
  background-color: red;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: 150px;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: rgba(176, 217, 162, 0.436);
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  animation: move 4s linear infinite;
}

@keyframes move {
  0%   { top: 0; left: 0; }
  20%  { top: 50px; left: 200px; }
  40%  { top: 200px; left: 250px; }
  60%  { top: 300px; left: 100px; }
  80%  { top: 150px; left: 150px; } /* where point is */
  100% { top: 0; left: 0; }
}

/* Stop animation when checkbox is checked */
#toggle:checked ~ .frame .circle {
  animation-play-state: paused;
}

/* Style the button */
.btn {
  display: block;
  width: 100px;
  height: 50px;
  background-color: #cc1111;
  color: #000000;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 5px;
}

/* Hide the checkbox */
.hidden-toggle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
